
Row{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin:auto;
}
.image-box{
    margin-bottom: 20px;
    width: 30%;
}
.column-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}