
.homebody{
    width: 100%;
    height: 100%;
    background-color: rgb(19, 168, 173,1) !important;
    margin: 0px !important;
}
.center-line{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin:8%;
}
.text-white{
    font-weight: 900;
    text-align:justify;
    color: rgba(248, 249, 250);
}
.col-home{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 8%;
}
.margin-top{
    margin-top: 8%;
}
#image-title{
    width: 50%;
}