@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*{
    font-family: 'Roboto';
}

#logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 50px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}